/*.footer {
    color: white;
    text-align: center;
    background-color: rgba(34, 37, 221, 0.904);
    box-shadow: 0 0.1px 120px rgb(228, 228, 255);
    width: 100%;
    position: fixed;
    height: 12px;
    margin-top: -20px;
    left: 0;
    bottom: 0;
    white-space: normal;
    padding: 24px;
    padding-bottom: 40px;
}
*/