.infobox {
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 0.1px 40px rgb(228, 228, 255);
    border-color: transparent;
    margin-top: 0;
    text-align: center;
    position: relative;
    margin-top: 40px;
    margin-bottom: 100px;
    width: 90%;
    min-width: 90%;
    min-height: 100%;
    left: 5%;
}

    .infobox h1 {
        color: black;
        font-family: 'Amatic SC', cursive;
        font-size: 60px;
        padding: 0 10px;
    }

    .infobox p {
        color: black;
        font-family: 'Amatic SC', cursive;
        font-size: 30px;
        padding: 0 10px;
    }

@media (min-width: 768px) {
    .infobox h1 {
        color: black;
        font-family: 'Amatic SC', cursive;
        font-size: 90px;
    }

    .infobox p {
        color: black;
        font-family: 'Amatic SC', cursive;
        font-size: 40px;
    }
}
